@import 'vars';

html,
body {
    height: 100%;
    min-height: 100%;
}

.column {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding: 20px;
    width: 300px;
    background: #fff;
}

.mainTitle {
    margin: 0 0 2em;
    padding: 0;
    border-bottom:1px dotted #444;

    font: 200 1em/1 $police1;
    text-align: right;

    strong {
        display: block;
        font: 200 5em/1 $police1;
        color: #777;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;

    .listTitle {
        font: 200 1.5em/1.3 $police1;
    }
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
