$police1: 'Helvetica Neue', Arial, sans-serif;
$police2: 'Dancing Script', 'Helvetica Neue', Arial, sans-serif;

$red1: #ed5051;
$red2: #d84646;
$red3: #A02627;

$blue1: #2C84BA;
$blue2: #2E75A0;

$yellow: #F0EE69;
